<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MarkdownPad2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MarkdownPad2.Settings.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MarkdownPad2.Settings.EditorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MarkdownPad2.Settings.RendererSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MarkdownPad2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MarkdownPad2.Settings.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MarkdownPad2.Settings.BugReporterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="MarkdownPad2.Settings.RendererSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MarkdownPad2.Properties.Settings>
      <setting name="CodeEditor_DisplayLineNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CodeEditor_FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="CodeEditor_FontFamily" serializeAs="String">
        <value>Consolas</value>
      </setting>
      <setting name="CodeEditor_SelectedCssFileName" serializeAs="String">
        <value>markdownpad-github.css</value>
      </setting>
      <setting name="IO_OpenFile_LastUsedFileTypeIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IO_SaveFile_LastUsedFileTypeIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Editor_FontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="Editor_FontFamily" serializeAs="String">
        <value>Consolas</value>
      </setting>
      <setting name="Editor_ForegroundColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="Editor_BackgroundColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="Editor_LineNumbersEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_UseSpacesAsTabs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_MarkdownSyntaxHighlightingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Markdown_UseUnderlineStyleHeadings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_SpellCheckEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Editor_EnableHyperlinks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_LivePreviewEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_ShowMainToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_ShowStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_WindowState_Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="App_WindowState_Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="App_WindowState_Height" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="App_WindowState_Width" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="App_WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="App_VerticalLayoutEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_Locale" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="App_MaxRecentFiles" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Renderer_CustomHtmlHeadContent" serializeAs="String">
        <value />
      </setting>
      <setting name="IO_ExportTextWithBom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IO_ExportHtmlWithBom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_SpellCheckLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="IO_OpenHtmlFileAfterExport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IO_ScrollToEndOfDocumentOnLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_MarkdownProcessor" serializeAs="String">
        <value>Markdown</value>
      </setting>
      <setting name="Markdown_Standard_AutoHyperlink" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_Standard_AutoNewlines" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_Standard_LinkEmails" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_Standard_EncodeProblemUrlCharacters"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_GFM_Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Markdown_GFM_Password" serializeAs="String">
        <value />
      </setting>
      <setting name="IO_OpenPdfFileAfterExport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Markdown_GFM_AnonymousMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Editor_InsertHyperlinksAsFootnotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_UnorderedListStyle" serializeAs="String">
        <value>Dash</value>
      </setting>
      <setting name="IO_UseUnixStyleEol" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_SendAnonymousStatistics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IO_AutoSaveEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IO_AutoSaveInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Editor_TimestampFormat" serializeAs="String">
        <value />
      </setting>
      <setting name="App_LicenseKey" serializeAs="String">
        <value />
      </setting>
      <setting name="App_LicenseEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="App_MaxSessions" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="App_AutoSessionRestore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_UpdateFrequency" serializeAs="String">
        <value>Always</value>
      </setting>
      <setting name="App_ProxyType" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="App_ManualProxy" serializeAs="String">
        <value />
      </setting>
      <setting name="App_ProxyPort" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="Editor_ShowColumnGuide" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeEditor_ColumnGuidePosition" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="Editor_WordWrap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IO_Pdf_IncludeBackground" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_FontWeight" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="IO_Pdf_EnableOutlineGeneration" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_EnableHighPerformanceRendering" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IO_MonitorFileChangesOnDisk" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Editor_DisplayFormattingMarks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IO_AutomaticReloadOnExternalChanges" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_HyperlinkForegroundColor" serializeAs="String">
        <value>#FF0000FF</value>
      </setting>
      <setting name="Editor_AutoContinueLists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="App_VerifyNetworkConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Markdown_ReferenceFile" serializeAs="String">
        <value />
      </setting>
      <setting name="Editor_MarkdownHighlighting_EnableCustomRules"
        serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_DisplaySplashScreen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IO_Pdf_LandscapeMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IO_Pdf_MarginLeftInMillimeters" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="IO_Pdf_MarginTopInMillimeters" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="IO_Pdf_MarginRightInMillimeters" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="IO_Pdf_MarginBottomInMillimeters" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="IO_Pdf_PaperSize" serializeAs="String">
        <value>Letter</value>
      </setting>
      <setting name="Markdown_OfflineGFM_AutoLineBreaks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Markdown_OfflineGFM_SmartLists" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Markdown_OfflineGFM_SmartyPants" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_EnablePersistentIndentation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_IgnoreYamlFrontMatter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Editor_SpellCheck_EnableInCodeBlocks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Markdown_GFM_ApiUrl" serializeAs="String">
        <value>https://api.github.com</value>
      </setting>
      <setting name="Editor_NumberOfSpacesPerTab" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="Markdown_GFM_Mode" serializeAs="String">
        <value>gfm</value>
      </setting>
    </MarkdownPad2.Properties.Settings>
    <MarkdownPad2.Settings.GeneralSettings>
      <setting name="LivePreviewEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMainToolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowState_Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowState_Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowState_Height" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="WindowState_Width" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="IsVerticalLayout" serializeAs="String">
        <value>True</value>
      </setting>
    </MarkdownPad2.Settings.GeneralSettings>
    <MarkdownPad2.Settings.EditorSettings>
      <setting name="FontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>Consolas</value>
      </setting>
      <setting name="ForegroundColor" serializeAs="String">
        <value>#FF000000</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>#FFFFFFFF</value>
      </setting>
      <setting name="LineNumbersEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSpacesAsTab" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MarkdownSyntaxHighlightingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlternativeHeadingsEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CodeSpacesEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpellCheckLanguage" serializeAs="String">
        <value>EnglishUnitedStates</value>
      </setting>
      <setting name="SpellCheckEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHyperlinksInEditor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableImeSupport" serializeAs="String">
        <value>True</value>
      </setting>
    </MarkdownPad2.Settings.EditorSettings>
    <MarkdownPad2.Settings.RendererSettings>
      <setting name="CSSFile" serializeAs="String">
        <value>default.css</value>
      </setting>
    </MarkdownPad2.Settings.RendererSettings>
  </userSettings>
  <applicationSettings>
    <MarkdownPad2.Properties.Settings>
      <setting name="App_IsBeta" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="App_DelayBeforeUpdateCheck" serializeAs="String">
        <value>10</value>
      </setting>
    </MarkdownPad2.Properties.Settings>
    <MarkdownPad2.Settings.GeneralSettings>
      <setting name="IsBeta" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Locale" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="MarkdownProcessor" serializeAs="String">
        <value>Markdown</value>
      </setting>
    </MarkdownPad2.Settings.GeneralSettings>
    <MarkdownPad2.Settings.BugReporterSettings>
      <setting name="BugReportWebURL" serializeAs="String">
        <value>https://docs.google.com/spreadsheet/viewform?formkey=dDJJV1RmZWFsX1ctc2RpNDc5ZFh3eEE6MQ</value>
      </setting>
    </MarkdownPad2.Settings.BugReporterSettings>
    <MarkdownPad2.Settings.RendererSettings>
      <setting name="CSSDirectory" serializeAs="String">
        <value>\Styles\</value>
      </setting>
    </MarkdownPad2.Settings.RendererSettings>
  </applicationSettings>
  <runtime>
	  <generatePublisherEvidence enabled="false" />
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>